<%
  e_btn_bgcolor = '#e9703e'
%>

<table class="e-btn fl mr20 mb20" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table class="" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="e-btn-bg" align="center" bgcolor="<%= e_btn_bgcolor %>"><a class="e-btn-link" href="https://litmus.com" target="_blank">Button with padding &rarr;</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="e-btn fl mr20 mb20" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table class="" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="e-btn-bg" valign="middle" align="center" bgcolor="<%= e_btn_bgcolor %>"><a class="e-btn-link" href="https://litmus.com" target="_blank">Button with padding and icon <!--[if !mso]><!-- --><img class="e-btn-icon" src="http://placehold.it/32x32.png"><!--<![endif]--></a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
