<%
  e_btn_bgcolor = '#e9703e'
%>

<table class="e-btn fl mr20 mb20" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table class="" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="e-btn-bg" align="center" bgcolor="<%= e_btn_bgcolor %>"><a class="e-btn-link" href="https://litmus.com" target="_blank">I am a button &rarr;</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!-- button with icon ####################################### -->
<!-- button with icon ####################################### -->
<!-- button with icon ####################################### -->

<table class="e-btn fl mr20 mb20" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table class="" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="e-btn-bg" valign="middle" align="center" bgcolor="<%= e_btn_bgcolor %>"><a class="e-btn-link" href="https://litmus.com" target="_blank">I&nbsp;am&nbsp;a&nbsp;button&nbsp;&nbsp;<img class="e-btn-icon" src="http://placehold.it/32x32.png"></a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
