.b-2-cols-w-img {
  color: red;
  background-color: #fff;
  min-width: 320px;
  text-align: center;
  &-col {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    background-color: #fff;
    margin: 0 -0.285em 0 0;
  }

  img {
    display: block;
    width: 100%;
  }

  &-text-content {
    padding: 20px;
  }
}
