.b-2-cols-w-img {
  max-width: 620px;

  color: red;
  background-color: #fff;

  &-col {
    /*width: $content-column-width / 2;*/
    display: inline-block;
    width: 50%;
    float: left;
  }

  img {
    display: block;
    width: 100%;
  }

  .block-2-title {
    display: block;
    font-size: 24px;
    margin-bottom: 8px;
    color: darkturquoise;
  }

  &-text-content {
    padding: 20px;
  }
}
