.b-2-cols-w-img {
  color: red;
  background-color: #fff;
  max-width: 620px;

  &-col {
    display: inline-block;
    width: 50%;
    width: $content-column-width / 2;
    float: left;
  }

  img {
    display: block;
    width: 100%;
  }

  &-text-content {
    padding: 20px;
  }
}
