.b-3-cols-w-img {
  color: red;
  text-align: center;
  background-color: #fff;
  &-col {
    background-color: #fff;
    text-align: left;
    vertical-align: top;
  }

  img {
    display: block;
    width: 100%;
  }

  &-text-content {
    padding: 20px;
  }
}
