.b-4-cols-w-img {
  max-width: 620px;

  color: red;
  background-color: #fff;

  &-col {
    /*width: $content-column-width / 4;*/
    display: inline-block;
    width: 25%;
    float: left;
  }

  img {
    display: block;
    width: 100%;
  }

  &-text-content {
    /*padding: 20px;*/
  }
}
