@media only screen and (max-width:480px) {
  @-ms-viewport { width:320px; }
  @viewport { width:320px; }
}
.b-4-cols-w-img {
  color: red;
  text-align: center;
  background-color: #fff;
  width:100vw;
  max-width: 620px;
  min-width: 260px;
  position: relative;
  margin: 0 auto;
  font-size: 0;
  &-col {
    background-color: #fff;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    min-width:-webkit-calc(25%);
    min-width: 25%;
    max-width: 100%;
    width:-webkit-calc(230400px — 48000%);
    width: calc(230400px - 48000%);
  }

  p, a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  img {
    display: block;
    width: 100%;
  }

  &-text-content {
    padding: 20px;
  }
}
