@include media($mobile-breakpoint) {
  .b-quote {
    .text {
      p {
        font-size: 20px !important;
        line-height: 26px !important;
        padding: 5px 15px !important;
      }
    }
    .title {
      p {
        font-size: 14px !important;
        line-height: 24px !important;
        padding: 5px 15px !important;
      }
    }
  }
}
