.b-quote {
  .text {
    p {
      font-size: 25px;
      color: #24B6D2;
      text-align: left;
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      line-height: 36px;
      vertical-align: top;
      padding: 5px 25px;
      font-style: italic;
    }
  }
  .title {
    p {
      text-align: right;
      font-size: 20px;
      color: #ababab;
      text-align: right;
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      line-height: 36px;
      vertical-align: top;
      padding: 5px 25px;
      font-style: normal;
    }
  }
}
