.b-single-bg-image {

  .b-single-bg-image-content {
    padding: 32px 16px;
  }
  .b-single-bg-image-prop {
    padding: 0;
    margin: 0;
    background-color: pink; // fallback color
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}
