.b-side-image {
  color: red;
  background-color: #fff;

  &-col {
    width: 50%;
    width: $content-column-width / 2;
    float: left;
  }

  &-img {
    display: block;
    width: 100%;
  }

  &-content {
    padding: 20px;
  }
}
