.b-single-image-w-text {
  width: 100%;
  background: white;
}
.b-single-image-img {
  display: block;
  width: 100%;
}
.default-text-link {
  text-decoration: underline;
  color: $default-text-link-color;
}
