<%
  # CAUTION! Este valor se usa de base en muchos bloques!!!
  content_width = 620
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <title><%= current_page.data.title || "Email title" %></title>

  <%= stylesheet_inline_tag 'email_mobile', false %>
  <%= stylesheet_inline_tag 'email' %>
</head>
<body>
  <table bgcolor="#efecee" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td class="newsletter-sidespace">&nbsp;</td>
      <td class="newsletter-content"><%= yield %></td>
      <td class="newsletter-sidespace">&nbsp;</td>
    </tr>
  </table>
</body>
</html>
