<!doctype html>
<html>
<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <!-- Use title if it's in the page YAML frontmatter -->
  <title>Responsive email blocks</title>

  <link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag 'demo_site' %>

  <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js"></script>
  <%= javascript_include_tag 'demo-site' %>
</head>
<body class="<%= page_classes %>">
  <h1>HTML email / newsletter construction blocks</h1>

  <div class="row" data-iframe-h="350">
    <p class="block-title">b-single-bg-image.html</p>
    <p class="block-desc-help">Bloque con imagen de fondo, debe ir a una sola columna, emplea varios <i>hacks</i> para Outlook. Proveer siempre un color plano de <i>fallback</i> por si todo falla.</p>
    <iframe src="/email/blocks/b-single-bg-image.html" class="fr-desktop" frameborder="0"></iframe>
    <iframe src="/email/blocks/b-single-bg-image.html" class="fr-mobile" frameborder="0"></iframe>
  </div>

  <div class="row" data-iframe-h="350">
    <p class="block-title">b-single-image.html</p>
    <p class="block-desc-help">Bloque con una imagen que crece proporcionalmente el tamaño de bloque.</p>
    <iframe src="/email/blocks/b-single-image.html" class="fr-desktop" frameborder="0"></iframe>
    <iframe src="/email/blocks/b-single-image.html" class="fr-mobile" frameborder="0"></iframe>
  </div>

  <div class="row" data-iframe-h="700">
    <p class="block-title">b-side-image.html</p>
    <p class="block-desc-help">Bloque con una imagen a la derecha o a la izquierda. Las columnas no tienen que ser necesariamente al 50%, puede haber otras proporciones ( 30% / 70%, 40% / 60% ... )</p>
    <iframe src="/email/blocks/b-side-image.html" class="fr-desktop" frameborder="0"></iframe>
    <iframe src="/email/blocks/b-side-image.html" class="fr-mobile" frameborder="0"></iframe>
  </div>

  <div class="row" data-iframe-h="900">
    <p class="block-title">b-3-cols-w-img.html</p>
    <p class="block-desc-help">Bloque con 3 columnas. Nosotros <b>NO RECOMENDAMOS MÁS DE 3</b> ya que algunos clientes móviles no interpretan el responsive y quedan muy pequeñas.</p>
    <iframe src="/email/blocks/b-3-cols-w-img.html" class="fr-desktop" frameborder="0"></iframe>
    <iframe src="/email/blocks/b-3-cols-w-img.html" class="fr-mobile" frameborder="0"></iframe>
  </div>

  <div class="row" data-iframe-h="900">
    <p class="block-title">b-4-cols-w-img.html</p>
    <p class="block-desc-help">Bloque con 4 columnas. Nosotros <b>NO RECOMENDAMOS MÁS DE 3</b> ya que algunos clientes móviles no interpretan el responsive y quedan muy pequeñas.</p>
    <iframe src="/email/blocks/b-4-cols-w-img.html" class="fr-desktop" frameborder="0"></iframe>
    <iframe src="/email/blocks/b-4-cols-w-img.html" class="fr-mobile" frameborder="0"></iframe>
  </div>

  <div class="row" data-iframe-h="450">
    <p class="block-title">b-2-cols-w-img.html</p>
    <p class="block-desc-help">Bloque con 2 columnas. Las columnas no tienen que ser necesariamente al 50%, puede haber otras proporciones ( 30% / 70%, 40% / 60% ... )</p>
    <iframe src="/email/blocks/b-2-cols-w-img.html" class="fr-desktop" frameborder="0"></iframe>
    <iframe src="/email/blocks/b-2-cols-w-img.html" class="fr-mobile" frameborder="0"></iframe>
  </div>

  <div class="row" data-iframe-h="150">
    <p class="block-title">b-footer.html</p>
    <p class="block-desc-help">Típico bloque de fin de newsletter donde se suelen poner enlaces a la web o para el <i>unsubscribe</i>. Puede tener color de fondo o no. En responsive se convierten en 100% width.</p>
    <iframe src="/email/blocks/b-footer.html" class="fr-desktop" frameborder="0"></iframe>
    <iframe src="/email/blocks/b-footer.html" class="fr-mobile" frameborder="0"></iframe>
  </div>

  <div class="row" data-iframe-h="200">
    <p class="block-title">b-sample.html</p>
    <p class="block-desc-help">Bloque de ejemplo empléalo de base para construir nuevos bloques.</p>
    <iframe src="/email/blocks/b-sample.html" class="fr-desktop" frameborder="0"></iframe>
    <iframe src="/email/blocks/b-sample.html" class="fr-mobile" frameborder="0"></iframe>
  </div>


</body>
</html>
