<%
  # b-single-bg-image
  b_single_image_w = 206
  b_single_image_h = 206
  b_single_image_url_1 = "http://placehold.it/#{b_single_image_w}x#{b_single_image_h}.jpg"
  b_single_image_url_2 = "http://placehold.it/#{b_single_image_w}x#{b_single_image_h}.jpg"
  b_single_image_url_3 = "http://placehold.it/#{b_single_image_w}x#{b_single_image_h}.jpg"
%>
<table cellspacing="0" cellpadding="0" border="0" class="b-3-cols-w-img">
  <tr>
    <td>

      <table cellspacing="0" cellpadding="0" border="0" class="col msoFix">
        <tr>
          <td>
            <img src="<%= b_single_image_url_1 %>" alt="">
          </td>
        </tr>
        <tr>
          <td class="b-3-cols-w-img-text-content">
            <p class="block-title">Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero odio cupiditate accusamus officia aspernatur, magni delectus cum aliquam pariatur atque esse ad reiciendis, a molestias.</p>
          </td>
        </tr>
      </table>

      <table cellspacing="0" cellpadding="0" border="0" class="col msoFix">
        <tr>
          <td>
            <img src="<%= b_single_image_url_1 %>" alt="">
          </td>
        </tr>
        <tr>
          <td class="b-3-cols-w-img-text-content">
            <p class="block-title">Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero odio cupiditate accusamus officia aspernatur, magni delectus cum aliquam pariatur atque esse ad reiciendis, a molestias.</p>
          </td>
        </tr>
      </table>

      <table cellspacing="0" cellpadding="0" border="0" class="col msoFix">
        <tr>
          <td>
            <img src="<%= b_single_image_url_1 %>" alt="">
          </td>
        </tr>
        <tr>
          <td class="b-3-cols-w-img-text-content">
            <p class="block-title">Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero odio cupiditate accusamus officia aspernatur, magni delectus cum aliquam pariatur atque esse ad reiciendis, a molestias.</p>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
