---
title: Típico bloque de fin de newsletter donde se suelen poner enlaces a la web o para el <i>unsubscribe</i>. Puede tener color de fondo o no. En responsive se convierten en 100% width.
---
<%
  # b-single-bg-image
  content_width = 620
%>
<table cellspacing="0" cellpadding="0" border="0" class="b-footer">
  <tbody>
    <tr>
      <td class="b-footer-content">
        <center>
          <p class="mb8">Lorem ipsum dolor <b>sit amet, consectetur</b> adipisicing elit. Provident modi esse vero perspiciatis, earum nesciunt quo! Nihil, commodi quam ducimus.</p>
          <p class="mb8"><a href="#" class="b-footer-link">Link1</a> | <a href="#" class="b-footer-link">Link2</a></p>
          <p class="mb16">
            &copy; Copyright <b><a href="https://es.wikipedia.org/wiki/Der_Blaue_Reiter" target="_blank" class="b-footer-link">Der Blaue Reiter</a></b>
          </p>
        </center>
      </td>
    </tr>
  </tbody>
</table>
