<%
  # b-single-bg-image
  content_width = 620
  b_single_image_w = 89 # 620
  b_single_image_h = 89
  b_single_image_url = "http://placehold.it/#{b_single_image_w}x#{b_single_image_h}.jpg"
%>
<table cellspacing="0" cellpadding="0" border="0" class="b-header-w-menu">
  <tbody>
    <tr>
      <td>
        <center>
          <a href="#link" target="_blank">
            <img src="<%= b_single_image_url %>" alt="LOGO" width="89" height="89" border="0" align="top" style="display:block;">
          </a>
        </center>
      </td>
    </tr>
    <!--MAIN MENU STARTS HERE-->
    <tr>
      <td align="center" valign="middle" width="650" bgcolor="#FFFFFE" style="margin:0px; width:650px; padding:10px; line-height:12px; font-size:14px;">
        <a href="#" target="_blank" class="link">HOME</a>
        <a href="#" target="_blank" class="link">SECTION 1</a>
        <a href="#" target="_blank" class="link">SECTION 2</a>
        <a href="#" target="_blank" class="link">SECTION 3</a>
        <a href="#" target="_blank" class="link">SECTION 4</a>
        <a href="#" target="_blank" class="link">SECTION 5</a>
       </td>
    </tr>
    <!--MAIN MENU ENDSS HERE-->
  </tbody>
</table>
