---
title: Bloque tipo quote, texto destacado y nombre.
---

<table cellspacing="0" cellpadding="0" border="0" class="b-quote">
  <tbody>
    <tr>
      <td class="text" width="99%">
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          </p>
      </td>
    </tr>
    <tr>
      <td width="99%" class="title">
          <p>
            - Julio Cesar
          </p>
      </td>
    </tr>
  </tbody>
</table>
