<%
  # b-single-bg-image
  content_width = 620
  b_single_image_w = content_width / 2 # 620 / 2
  b_single_image_h = 310
  b_single_image_url = "http://placehold.it/#{b_single_image_w}x#{b_single_image_h}.jpg"
%>
<table cellspacing="0" cellpadding="0" border="0" class="b-right-image-w-p">
  <tr>
    <td>

      <table cellspacing="0" cellpadding="0" border="0" class="half">
        <tr>
          <td class="b-right-image-w-p-text-content">
            <p class="block-title">Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero odio cupiditate accusamus officia aspernatur, magni delectus cum aliquam pariatur atque esse ad reiciendis, a molestias.</p>
          </td>
        </tr>
      </table>

      <table cellspacing="0" cellpadding="0" border="0" class="half">
        <tr>
          <td>
            <img class="b-right-image-w-p-img" src="<%= b_single_image_url %>" alt="">
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
