---
title: Bloque de ejemplo empléalo de base para construir nuevos bloques.
---

<div class="b-sample">
  <p class="test">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum ducimus debitis, doloribus. Vero laudantium, sint esse, officia nihil fugit voluptas!</p>
</div>
