<%
  # b-single-bg-image
  content_width = 620
  b_single_image_w = content_width # 620
  b_single_image_h = 300
  b_single_image_url = "http://placehold.it/#{b_single_image_w}x#{b_single_image_h}.jpg"
%>
<table cellspacing="0" cellpadding="0" border="0" class="b-single-image">
  <tbody>
    <tr>
      <td>
        <img class="b-single-image-img" src="<%= b_single_image_url %>" alt="">
      </td>
    </tr>
  </tbody>
</table>
