// Colors
$color-main-bg: #efecee;
$color-text-default: #333;
$default-text-link-color: #00e;

// Font Families
$f-sans:  "Trebuchet MS", Arial, Helvetica, sans-serif;
$f-serif: Times, "Times New Roman", Georgia, serif;

// Breakpoints
$mobile: 620px;
