// Colors
$color-main-bg: #efecee;
$color-text-default: #333;
$default-text-link-color: #00e;

// Font Families
$f-sans:  "Trebuchet MS", Arial, Helvetica, sans-serif;
$f-serif: Times, "Times New Roman", Georgia, serif;

// Content area
$content-column-width: 620px;

// Breakpoints
$mobile-breakpoint: 400px;
$tablet-breakpoint: 620px;
$desktop-breakpoint: 1024px;
