---
title: Welcome to Middleman
---

<h1>HTML email / newsletter construction blocks</h1>

<div class="row" data-iframe-h="350">
  <p class="block-title">b-header-with-menu.html</p>
  <p class="block-desc-help">Bloque con logo superior y menu, el logo puede estar centrado o alineado izquierda o derecha</p>
  <iframe src="/email/blocks/b-header-w-menu.html" class="fr-desktop" frameborder="0"></iframe>
  <iframe src="/email/blocks/b-header-w-menu.html" class="fr-mobile" frameborder="0"></iframe>
</div>

<div class="row" data-iframe-h="350">
  <p class="block-title">b-single-bg-image.html</p>
  <p class="block-desc-help">Bloque con imagen de fondo, debe ir a una sola columna, emplea varios <i>hacks</i> para Outlook. Proveer siempre un color plano de <i>fallback</i> por si todo falla.</p>
  <iframe src="/email/blocks/b-single-bg-image.html" class="fr-desktop" frameborder="0"></iframe>
  <iframe src="/email/blocks/b-single-bg-image.html" class="fr-mobile" frameborder="0"></iframe>
</div>

<div class="row" data-iframe-h="350">
  <p class="block-title">b-single-image.html</p>
  <p class="block-desc-help">Bloque con una imagen que crece proporcionalmente el tamaño de bloque.</p>
  <iframe src="/email/blocks/b-single-image.html" class="fr-desktop" frameborder="0"></iframe>
  <iframe src="/email/blocks/b-single-image.html" class="fr-mobile" frameborder="0"></iframe>
</div>

<div class="row" data-iframe-h="350">
  <p class="block-title">b-single-image-w-text.html</p>
  <p class="block-desc-help">Bloque con una imagen y texto, la imagen que crece proporcionalmente el tamaño de bloque.</p>
  <iframe src="/email/blocks/b-single-image-w-text.html" class="fr-desktop" frameborder="0"></iframe>
  <iframe src="/email/blocks/b-single-image-w-text.html" class="fr-mobile" frameborder="0"></iframe>
</div>

<div class="row" data-iframe-h="700">
  <p class="block-title">b-side-image.html</p>
  <p class="block-desc-help">Bloque con una imagen a la derecha o a la izquierda. Las columnas no tienen que ser necesariamente al 50%, puede haber otras proporciones ( 30% / 70%, 40% / 60% ... )</p>
  <iframe src="/email/blocks/b-side-image.html" class="fr-desktop" frameborder="0"></iframe>
  <iframe src="/email/blocks/b-side-image.html" class="fr-mobile" frameborder="0"></iframe>
</div>

<div class="row" data-iframe-h="900">
  <p class="block-title">b-3-cols-w-img.html</p>
  <p class="block-desc-help">Bloque con 3 columnas. Nosotros <b>NO RECOMENDAMOS MÁS DE 3</b> ya que algunos clientes móviles no interpretan el responsive y quedan muy pequeñas.</p>
  <iframe src="/email/blocks/b-3-cols-w-img.html" class="fr-desktop" frameborder="0"></iframe>
  <iframe src="/email/blocks/b-3-cols-w-img.html" class="fr-mobile" frameborder="0"></iframe>
</div>

<div class="row" data-iframe-h="900">
  <p class="block-title">b-4-cols-w-img.html</p>
  <p class="block-desc-help">Bloque con 4 columnas. Nosotros <b>NO RECOMENDAMOS MÁS DE 3</b> ya que algunos clientes móviles no interpretan el responsive y quedan muy pequeñas.</p>
  <iframe src="/email/blocks/b-4-cols-w-img.html" class="fr-desktop" frameborder="0"></iframe>
  <iframe src="/email/blocks/b-4-cols-w-img.html" class="fr-mobile" frameborder="0"></iframe>
</div>

<div class="row" data-iframe-h="450">
  <p class="block-title">b-2-cols-w-img.html</p>
  <p class="block-desc-help">Bloque con 2 columnas. Las columnas no tienen que ser necesariamente al 50%, puede haber otras proporciones ( 30% / 70%, 40% / 60% ... )</p>
  <iframe src="/email/blocks/b-2-cols-w-img.html" class="fr-desktop" frameborder="0"></iframe>
  <iframe src="/email/blocks/b-2-cols-w-img.html" class="fr-mobile" frameborder="0"></iframe>
</div>

<div class="row" data-iframe-h="150">
  <p class="block-title">b-footer.html</p>
  <p class="block-desc-help">Típico bloque de fin de newsletter donde se suelen poner enlaces a la web o para el <i>unsubscribe</i>. Puede tener color de fondo o no. En responsive se convierten en 100% width.</p>
  <iframe src="/email/blocks/b-footer.html" class="fr-desktop" frameborder="0"></iframe>
  <iframe src="/email/blocks/b-footer.html" class="fr-mobile" frameborder="0"></iframe>
</div>

<div class="row" data-iframe-h="200">
  <p class="block-title">b-quote.html</p>
  <p class="block-desc-help">Bloque tipo quote, texto destacado y nombre.</p>
  <iframe src="/email/blocks/b-quote.html" class="fr-desktop" frameborder="0"></iframe>
  <iframe src="/email/blocks/b-quote.html" class="fr-mobile" frameborder="0"></iframe>
</div>

<div class="row" data-iframe-h="200">
  <p class="block-title">b-sample.html</p>
  <p class="block-desc-help">Bloque de ejemplo empléalo de base para construir nuevos bloques.</p>
  <iframe src="/email/blocks/b-sample.html" class="fr-desktop" frameborder="0"></iframe>
  <iframe src="/email/blocks/b-sample.html" class="fr-mobile" frameborder="0"></iframe>
</div>


<h1>HTML elements / components</h1>

<div class="row" data-iframe-h="150">
  <p class="block-title">e-buttons-container.html</p>
  <p class="block-desc-help">Botones de ejemplo</p>
  <iframe src="/email/elements/e-buttons.html" class="fr-desktop" frameborder="0"></iframe>
</div>
